<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 컬럼명 USER_NUM 같은 언더스코어명을 Java 필드 userNum 같은 카멜케이스명과 자동 매핑할 수 있게 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- VO/DTO를 MyBatis type alias로 사용할 수 있게 등록 -->
	<typeAliases>
		<!-- <package name="com.pcwk.ehr.user.domain" /> -->
		<typeAlias alias="UserVO" type="com.pcwk.ehr.user.domain.UserVO" />
		<typeAlias alias="UserSearchDTO" type="com.pcwk.ehr.user.domain.UserSearchDTO" />
		<typeAlias alias="ChatMessageVO" type="com.pcwk.ehr.chat.domain.ChatMessageVO"/>
		<typeAlias alias="ChatRoomVO" type="com.pcwk.ehr.chat.domain.ChatRoomVO"/>
		<typeAlias alias="ReportVO" type="com.pcwk.ehr.report.domain.ReportVO" />
		<typeAlias alias="ReportSearchDTO" type="com.pcwk.ehr.report.domain.ReportSearchDTO" />
			<typeAlias alias="ProductVO" type="com.pcwk.ehr.product.domain.ProductVO"/>
			<typeAlias alias="ProductSearchDTO" type="com.pcwk.ehr.product.domain.ProductSearchDTO"/>
		<typeAlias alias="CategoryVO" type="com.pcwk.ehr.category.domain.CategoryVO"/>
		<typeAlias alias="ProductImageVO" type="com.pcwk.ehr.product.domain.ProductImageVO"/>
	</typeAliases>
</configuration>
