<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 컬럼명 USER_NUM 같은 언더스코어명을 Java 필드 userNum 같은 카멜케이스명과 자동 매핑할 수 있게 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- VO/DTO를 MyBatis type alias로 사용할 수 있게 등록 -->
	<typeAliases>
		<!-- <package name="com.pcwk.ehr.user.domain" /> -->
		<typeAlias alias="UserVO" type="com.pcwk.ehr.user.domain.UserVO" />
		<typeAlias alias="UserSearchDTO" type="com.pcwk.ehr.user.domain.UserSearchDTO" />
	</typeAliases>
</configuration>
