<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.transact.mapper.TransactHistMapper">

    <resultMap id="transactHistMap" type="com.pcwk.ehr.transact.domain.TransactHistVO">
        <id     property="txId"        column="TX_ID" />
        <result property="sellerNo"    column="SELLER_NO" />
        <result property="productNo"   column="PRODUCT_NO" />
        <result property="receiverNo"  column="RECEIVER_NO" />
        <result property="txType"      column="TX_TYPE" />
        <result property="amount"      column="AMOUNT" />
        <result property="txStatus"    column="TX_STATUS" />
        <result property="createDt"    column="CREATE_DT" />
        <result property="productName" column="PRODUCT_NAME" />
        <result property="partnerName" column="PARTNER_NAME" />
    </resultMap>

    <insert id="insertTransact" parameterType="com.pcwk.ehr.transact.domain.TransactHistVO">
        INSERT INTO TRANSACTIN_HIST (
            TX_ID, SELLER_NO, PRODUCT_NO, RECEIVER_NO, TX_TYPE, AMOUNT, TX_STATUS, CREATE_DT
        ) VALUES (
            TRANSACTIN_HIST_SEQ.NEXTVAL, 
            #{sellerNo}, #{productNo}, #{receiverNo}, #{txType}, #{amount}, #{txStatus}, SYSDATE
        )
    </insert>

    <delete id="deleteAll">
        DELETE FROM TRANSACTIN_HIST
    </delete>

    <select id="totalCount" resultType="int">
        SELECT COUNT(*) FROM TRANSACTIN_HIST
    </select>

    <select id="selectListByUser" parameterType="map" resultMap="transactHistMap">
        SELECT T.*, P.PRODUCT_TITLE as PRODUCT_NAME, U.USER_NAME as PARTNER_NAME
        FROM TRANSACTIN_HIST T
        JOIN PRODUCT P ON T.PRODUCT_NO = P.PRODUCT_NO
        JOIN USER_INFO U ON (CASE WHEN T.SELLER_NO = #{userNum} THEN T.RECEIVER_NO ELSE T.SELLER_NO END) = U.USER_NUM
        WHERE 1=1
        <choose>
            <when test="type == 'purchase'">
                AND T.RECEIVER_NO = #{userNum}
            </when>
            <when test="type == 'sale'">
                AND T.SELLER_NO = #{userNum}
            </when>
        </choose>
        ORDER BY T.CREATE_DT DESC
    </select>

  <select id="selectListByProduct" parameterType="map" resultMap="transactHistMap">
    SELECT T.*, P.PRODUCT_TITLE as PRODUCT_NAME, U.USER_NAME as PARTNER_NAME
    FROM TRANSACTIN_HIST T
    JOIN PRODUCT P ON T.PRODUCT_NO = P.PRODUCT_NO
    JOIN USER_INFO U ON (CASE WHEN T.SELLER_NO = #{loginUserNo} THEN T.RECEIVER_NO ELSE T.SELLER_NO END) = U.USER_NUM
    WHERE T.PRODUCT_NO = #{productNo}
    ORDER BY T.CREATE_DT DESC
</select>

</mapper>