<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.UserMapper">

	<sql id="memberWhere">
		<where>
		<if test="searchWorld != null and searchWorld != ''">
			<choose>
				<when test="searchDiv == '10' ">
			   		user_id LIKE #{searchWorld} || '%'
				</when>
				<when test="searchDiv == '20' ">
				   	name LIKE #{searchWorld} || '%'
				</when>
				<when test="searchDiv == '30' ">
				   	email LIKE #{searchWorld} || '%'
				</when>
				<otherwise>
				                	
				</otherwise>
			</choose>
		</if>
		</where>
	</sql>

	<select id="doRetrieve" 
		parameterType="com.pcwk.ehr.cmn.DTO" resultType="UserVO">		
	    SELECT A.*, B.*
	    FROM(
		    SELECT tt1.rnum no,
		             tt1.user_id,
		             tt1.name,
		             tt1.password,
		             tt1.login,
		             tt1.recommend,
		             tt1.email,
		             DECODE(tt1.grade,1,'BASIC'
					  			     ,2,'SILVER'
						    		 ,3,'GOLD') grade,
		             TO_CHAR(tt1.reg_dt,'YYYY/MM/DD') reg_dt
		        FROM(
		          SELECT ROWNUM rnum, t1.*
		            FROM (
		              SELECT *
		                FROM member
		                <include refid="memberWhere"></include>
		              	  ORDER BY  reg_dt DESC
	         	  )t1
	  	        <![CDATA[ WHERE ROWNUM <= ( #{pageSize} * (#{pageNo} -1) + #{pageSize} ) ]]>
	   	     )tt1
	   	     <![CDATA[ WHERE rnum >= ( #{pageSize} * (#{pageNo} -1) + 1 ) ]]>
       	) A CROSS JOIN(         
          	SELECT COUNT(*) total_cnt
           	 FROM member
           <include refid="memberWhere"></include>
        ) B        
	</select>

	<insert id="saveAll" parameterType="java.lang.Integer">
		INSERT INTO member                            
		SELECT 'pcwk'|| LEVEL AS user_id,             
		       '이상무'||MOD(LEVEL,10) AS name,          
		       '4321a' AS password,                   
		       level  AS login,                       
		       MOD(level,50) AS recommend,            
		       'tnalsl'||level||'@naver.com' AS email,
		       MOD(level,3)+1 AS grade,               
		       SYSDATE - LEVEL/60 AS reg_dt           
		  FROM dual                                   
		 CONNECT BY LEVEL <![CDATA[ <= ]]> #{saveCount}      		           
	</insert>
	
	<select id="getAllMember" resultType="UserVO">
		 SELECT                                     
		     user_id,                               
		     name,                                  
		     password,                              
		     login,                                 
		     recommend,                             
		     email,                                 
		     DECODE(grade,1,'BASIC'
					     ,2,'SILVER'
					     ,3,'GOLD') grade,                                     
		     TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS') reg_dt 
		 FROM                                       
		     member                                 
		 ORDER BY user_id 	               	        
	
	</select>


	<delete id="doDelete" parameterType="UserVO">
		DELETE FROM member 
		WHERE user_id = #{userId}
	</delete>

	<update id="doUpdate" parameterType="UserVO">
		UPDATE member         
		SET                   
		     name = #{name},        
		     password = #{password},    
		     login = #{login},       
		     recommend = #{recommend},   
		     email = #{email},       
		     grade = DECODE(#{grade},'BASIC',1
			          		    	,'SILVER',2
			             	  		,'GOLD',3),       
		     reg_dt = SYSDATE 
		WHERE                 
		       user_id = #{userId}	
	</update>

	<select id="doSelectOne" parameterType="UserVO" resultType="UserVO">
		SELECT                                            
		    user_id,                                      
		    name,                                         
		    password,                                     
		    login,                                        
		    recommend,                                    
		    email,                                        
		    DECODE(grade,1,'BASIC'
			            ,2,'SILVER'
			            ,3,'GOLD') grade,                                     
		    TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS') reg_dt
		FROM                                              
		    member                                        
		WHERE  user_id = #{userId}     		                    
	
	</select>

	<select id="totalCnt" resultType="java.lang.Integer">
		SELECT COUNT(*) AS total_cnt FROM member
	</select>


	<insert id="doSave"
			parameterType="UserVO">
	
			INSERT INTO member (  
			    user_id,        
			    name,           
			    password,       
			    login,          
			    recommend,      
			    email,          
			    grade,          
			    reg_dt          
			) VALUES (
			   #{userId},     
			   #{name},
			   #{password},
			   #{login},
			   #{recommend},
			   #{email},
			   DECODE(#{grade},'BASIC',1
			             	  ,'SILVER',2
			             	  ,'GOLD',3),
			   SYSDATE )
	
	</insert>
	
			           
	<delete id="deleteAll">
		DELETE FROM  member
	</delete>

</mapper>