<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.time">
    <!-- com.pcwk.ehr.time.doSelectOne -->
    
	<select id="doSelectOne"
		parameterType="TimeVO"
		resultType="TimeVO">
		SELECT
		       #{userId}   || '_PCWK'  userId,
		       #{password} || '_PCWK'  password,
		       TO_CHAR(SYSDATE, 'yyyy/mm/dd') reg_dt
		  FROM dual
	</select>


</mapper>